<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
    <ul class="nav navbar-nav " >
        <li><a th:href="@{/}"><h4>Profile</h4></a></li>
        <li><a th:href="@{/userdata}"><h4>UserInfo</h4></a></li>
    </ul>
    </div>
    <div class="container">
    <h1>Edit </h1>

    <form th:method="post" th:object="${user}" th:action="@{/edituser(userId=${user.id})}">
        <label>Name</label>
        <span style="color: red;" th:if="${nameInvalid}">Name Invalid.</span>
        <input type="text" name="name" id="name" th:value="${user.name}" required>

        <!--age-->
        <label>Age</label>
        <span style="color: red;" th:if="${ageInvalid}">age Invalid.</span>
        <input type="text" name="age" id="age" th:value="${user.age}" required>

        <!--email-->
        <label>Email</label>
        <span style="color: red;" th:if="${emailInvalid}">Email Invalid.</span>
        <input type="text" name="email" id="email" th:value="${user.email}" required>

        <!--Address-->
        <label>Address</label>
        <span style="color: red;" th:if="${addressInvalid}">Address Invalid.</span>
        <input type="text" name="address" id="address" th:value="${user.address}" required>

        <br>
        <!--Phone Num-->
        <label>Phone Number</label>
        <span style="color: red;" th:if="${phoneInvalid}">PhoneNumber Invalid.</span>
        <input type="text" name="phoneNumber" id="phoneNumber" th:value="${user.phoneNumber}" required>



        <input type="submit" value="Submit" />
    </form>
    </div>
</body>
</html>