<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
    <ul class="nav navbar-nav " >
        <li><a th:href="@{/}"><h4>Profile</h4></a></li>
        <li><a th:href="@{/userdata}"><h4>UserInfo</h4></a></li>
    </ul>
    </div>
    <div class="container">
        <h1>Enter User Info</h1>
    <form method="post">


        <!--Name-->
        <label>Name</label>
        <span style="color: red;" th:if="${nameInvalid}">Name Invalid</span>
        <input type="text" name="name" id="name" required>
        <br>
        <!--age-->
        <label>Age</label>
        <span style="color: red;" th:if="${ageInvalid}">Age Invalid.</span>
        <input type="text" name="age" id="age" required>
        <br>
        <!--email-->
        <label>Email</label>
        <span style="color: red;" th:if="${emailInvalid}">Email Invalid.</span>
        <input type="email" name="email" id="email" required>
        <br>
        <!--Address-->
        <label>Address</label>
        <span style="color: red;" th:if="${addressInvalid}">Address Invalid.</span>
        <input type="text" name="address" id="address" required>
        <br>
        <!--Phone Num-->
        <label>Phone Number</label>
        <span style="color: red;" th:if="${phoneInvalid}">PhoneNumber Invalid.</span>
        <input type="text" name="phoneNumber" id="phoneNumber" required>
        <br>


        <button type="submit">Submit</button>
    </form>
    </div>

</body>
</html>
<!--
as Name,Age,Email Id,Address and phone number.-->

